<section class="container">
  <h1 class="title my-4">Adicionar contato</h1>
  <form>
    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="floatingNome" placeholder="Nome">
      <label for="floatingNome">Nome</label>
    </div>
    <div class="row">
      <div class="form-floating mb-3 col-12 col-lg-6">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">E-mail</label>
      </div>

      <div class="form-floating mb-3 col-12 col-lg-6">
        <input type="text" class="form-control" id="floatingCpf" mask="000.000.000-00" placeholder="CPF">
        <label for="floatingCpf">CPF</label>
      </div>
    </div>

    <div class="row">
      <div class="form-floating mb-3 col-12 col-lg-4">
        <input type="text" class="form-control" id="floatingBairro" placeholder="Bairro">
        <label for="floatingBairro">Bairro</label>
      </div>

      <div class="form-floating mb-3 col-12 col-lg-4">
        <input type="text" class="form-control" mask="00000-000" id="floatingCep" placeholder="Cep">
        <label for="floatingCep">CEP</label>
      </div>

      <div class="form-floating mb-3 col-12 col-lg-4">
        <input type="text" class="form-control" id="floatingCidade" placeholder="Cidade">
        <label for="floatingCidade">Cidade</label>
      </div>
    </div>

    <div class="row">
      <div class="form-floating mb-3 col-12 col-lg-4">
        <input type="text" class="form-control" id="floatingEstado" placeholder="Estado">
        <label for="floatingEstado">Estado</label>
      </div>

      <div class="form-floating mb-3 col-12 col-lg-4">
        <input type="text" class="form-control" id="floatingLogradouro" placeholder="Logradouro">
        <label for="floatingLogradouro">Logradouro</label>
      </div>

      <div class="form-floating mb-3 col-12 col-lg-1">
        <input type="text" class="form-control" id="floatingNumero" placeholder="Numero">
        <label for="floatingNumero">N°</label>
      </div>

      <div class="form-floating mb-3 col-12 col-lg-3">
        <input type="text" class="form-control" id="floatingPais" placeholder="Pais">
        <label for="floatingPais">País</label>
      </div>
    </div>

    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingTelefone" placeholder="Telefone">
      <label for="floatingTelefone" mask="(00) 0000-0000">Telefone</label>
    </div>

    <button type="button" class="btn btn-success w-100"><strong>Adicionar</strong></button>
  </form>
</section>
